/* MAIN DIV */
.maindiv{
    background-color: #14171A;
    margin:0;
    color: white;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/* LEFT DIV */
.leftdiv{
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 51;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.logoleftdiv{
    width: 6vw;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.userdiv{
    margin: 10px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-left: 50px;
    gap: 10px;
}

.topdiv{
    display: flex;
    gap: 15px;
    line-height: 0.5;
}

.userimage{
    width: 3vw;
    border-radius: 50%;
    margin: 2px;
}

.logoutbutton{
    height: 3vh;
    width: 5vw;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    cursor: pointer;
    background-color:#14171A;
    border: 1px solid white;

}

.logoutbutton:hover{
    cursor: pointer;
    background-color: #1DA1F2;
}



/* MIDDLE DIV */
.middlediv{
    border-right: 1px solid #AAB8C2;
    border-left: 1px solid #AAB8C2;
    grid-column-start: 14;
    grid-column-end: 38;
    grid-row-start: 1;
    grid-row-end: 51;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.topmiddlediv{
    width: 48vw;
    padding: 1vw;
}

.createtweet{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48vw;
    padding: 5px;
    height: 20vh;
    gap: 10px;
    border-bottom: 1px solid #AAB8C2;

}


.tweetbutton{
    cursor: pointer;
    height: 4vh;
    width: 7vw;
    background-color: #1DA1F2;
    color: white;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 10px;
    border: 1px solid white;
}

.tweetbutton:hover{
    background-color: #AAB8C2;
    font-weight: bolder;
}

.tweetinput{
    width: 35vw;
    border: none;
    background-color: #14171A;
    font-size: 20px;
    border-bottom: 2px solid #AAB8C2;
    padding: 5px;
}

.tweetinput:active{
    border: none;

}



.tweets{
    border-bottom: 1px solid #AAB8C2;
    height: 20vh;
    width: 48vw;
    padding: 10px;
}

.topdivtweet{
    display: flex;
    gap: 15px;
    align-items: center;
}

.tweetimage{
    width: 3vw;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 15px;
}

.firstname{
    font-weight: bolder;
}

.icon{
    display: flex;
    gap: 10px;
}

.trash{
    cursor: pointer;
}

.trash:hover{
    color:#1DA1F2;
}

.heart{
    cursor: pointer;
}

.heart:hover{
    color:#1DA1F2;
}


/* RIGHT DIV */
.rightdiv{
    grid-column-start: 38;
    grid-column-end: 51;
    grid-row-start: 1;
    grid-row-end: 51;

}

.topmiddlediv{
    width: 48vw;
    padding: 1vw;
}

/* TITLES */
.titles{
    color: white;
}